---
layout: default
---

<main-content style="margin-top:var(--sl-spacing-xxx-large); margin-bottom:var(--spacing-gigantic)">
  <h1 style="text-align:center">{{ page.title }}</h1>

  {{ content }}
</main-content>
