body > nav {
  margin: var(--sl-spacing-x-large) 0;
  @media (--nav-minimal) {
    margin: var(--sl-spacing-medium) 0;
  }
}

main {
  overflow-x: hidden;
}

body.page > main {
  border-top: 1px solid var(--alternate-transparent-color);
}

body.narrow-layout {
  --max-main-content-width: 38rem;
}

main-content {
  word-wrap: break-word;

  & .professional-photograph {
    float: right;
    border: solid 8px white;
    background: white;
    border-radius: 999px;
    box-shadow: 4px 10px 20px rgba(0,0,0,0.45);
    overflow: hidden;
    shape-outside: circle();
    margin: 3px -1vw 0.6rem var(--sl-spacing-3x-large);

    & > img {
      display: block;
    }

    @media (--sl-breakpoint-xs) {
      border-width: 4px;
      margin-left: var(--sl-spacing-x-large);

      & > img {
        width: 140px;
      }
    }
    @media (--sl-breakpoint-sm) {
      margin-left: var(--sl-spacing-2x-large);

      & > img {
        width: 220px;
      }
    }
    @media (--sl-breakpoint-md) {
      & > img {
        width: 330px;
      }
    }
  }
}

nav, main > main-content, body > footer {
  padding-left: var(--sl-spacing-small);
  padding-right: var(--sl-spacing-small);
}

navbar-inner, main-content, footer-inner {
  display: block;
  max-width: var(--max-content-width);
  margin: 0 auto;
}

main-content {
  max-width: var(--max-main-content-width, var(--max-content-width));
}

main > section {
  padding: var(--sl-spacing-4x-large) var(--sl-spacing-medium);
  background: radial-gradient(white 25%, #d5e3f8 150%);
  position: relative;
  box-shadow: inset 4px 4px 4px var(--heading-shadow);

  & > main-content {
    position: relative;
    z-index: 1;

    & > :not(h1, h2) {
      margin-left: var(--sl-spacing-4x-large);
      margin-right: var(--sl-spacing-medium);

      @media (--sl-breakpoint-xs) {
        margin-left: var(--sl-spacing-medium);
        margin-right: var(--sl-spacing-x-small);
      }
    }

    & > sl-button:last-of-type {
      margin-top: var(--sl-spacing-medium);
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
  }

  &::after {
    background-position: 0 0;
    background-size: 10px 10px;
    background-image: linear-gradient(
      -45deg, rgba(0, 0, 0, .02) 25%,
      transparent 25%, transparent 50%,
       rgba(0, 0, 0, .02) 50%, rgba(0, 0, 0, .02) 75%,
      transparent 75%, transparent
    );
  }
}

section.invert {
  background: radial-gradient(var(--primary-color) 25%, var(--primary-dark-color) 125%);
  color: var(--inverted-primary-text);

  --heading-color: var(--alternate-color);
  --heading-shadow: var(--alternate-transparent-color);

  &::after {
    background-image: linear-gradient(0deg, transparent 14.5px, #00000011 16.5px, transparent 16.5px), linear-gradient(90deg, transparent 14.5px, #00000011 16.5px, transparent 16.5px);
    background-size: 100% 16.5px, 16.5px 100%;
  }
}

section.alt-invert, body > footer {
  background: radial-gradient(var(--alternate-color) 25%, var(--alternate-dark-color) 100%);
  position: relative;
  box-shadow: inset 4px 4px 4px var(--alternate-dark-color);
  color: var(--inverted-primary-text);
  --heading-color: var(--primary-lighter-color);

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
  }

  &::after {
    background-position: 0 0;
    background-size: 10px 10px;
    background-image: linear-gradient(
      -45deg, rgba(0, 0, 0, .045) 25%,
      transparent 25%, transparent 50%,
       rgba(0, 0, 0, .045) 50%, rgba(0, 0, 0, .045) 75%,
      transparent 75%, transparent
    );
  }
}

footer-inner {
  padding-top: var(--sl-spacing-4x-large);
  padding-bottom: var(--sl-spacing-4x-large);
  position: relative;
  z-index: 1;
  text-align: center;
}

aside#oops {
  color: var(--primary-dark-color);
  font-weight: 500;
  text-align: center;
}
