@import "../fonts/FiraSans/FiraSans.css";

@font-face {
  font-family: optician-sans;
  font-weight: 700;
  font-style: normal;
  font-display: auto;
  src: url("../fonts/Optician-Sans.woff2") format("woff2");
}
