@import "fonts.css";
@import "flex.css";

:root {
  --base-font-size: 24px;

  --primary-color: #ff6f59;
  --primary-faded-color: #ffbeb4;
  --primary-transparent-color: #ff6f5932;
  --primary-dark-color: #c2422f;

  --alternate-color: #293b57;
  --alternate-transparent-color: #293b5732;
  --alternate-dark-color: #172131;

  --body-background: #fff;
  --body-color: var(--alternate-color);
  --body-color-rgb: 41, 59, 87;
  --body-font: FiraGO, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  --header-color: var(--primary-color);
  --header-shadow: var(--primary-transparent-color);
  --header-font: optician-sans, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  --inverted-primary-text: var(--body-background);

  --line-height: 1.5;

  --gap-1: 0.5rem;
  --gap-2: 1rem;
  --gap-3: 2rem;
  --gap-4: 3rem;
  --gap-5: 5rem;
  --gap-6: 8rem;
  --gap-7: 12rem;
  --gap-8: 15rem;

  --max-content-width: 50rem;

  --sl-font-sans: var(--body-font);
  --sl-color-primary-hue: 217;
  --sl-color-primary-saturation: 35%;

  --sl-overlay-background-color: rgba(128,128,128,0.15);
  --sl-shadow-x-large: 0px 25px 60px rgba(0,0,0,0.2);
  --sl-border-radius-medium: 24px;
  --sl-input-border-radius-medium: 12px;
  --sl-input-border-radius-small: 8px;

  @media (--sl-breakpoint-xs) {
    --base-font-size: 18px;
  }
  @media (--sl-breakpoint-sm) {
    --base-font-size: 20px;
  }
  @media (--sl-breakpoint-md) {
    --base-font-size: 21px;
  }
  @media (--sl-breakpoint-lg) {
    --base-font-size: 22px;
  }
}

sl-dialog::part(title), sl-dialog::part(body) {
  --sl-spacing-large: 0.75rem 1.25rem;
}

sl-dialog::part(title) {
  font-family: var(--header-font);
  font-weight: 700;
  color: var(--alternate-dark-color);
  --sl-font-size-large: 2rem;
}

sl-button[type="primary"]::part(base) {
  background-color: var(--sl-color-primary-30);
  border-color: var(--sl-color-primary-30);
}
sl-button[type="primary"]::part(base):hover {
  background-color: var(--sl-color-primary-40);
  border-color: var(--sl-color-primary-40);
}


html {
  font-size: var(--base-font-size);
  -webkit-font-smoothing: subpixel-antialiased;
}

body {
  background: var(--body-background);
  color: var(--body-color);
  font-family: var(--body-font);
  margin: 0;
  padding: 0;
  line-height: var(--line-height);
}

h1,h2,h3,h4,h5,h6 {
  font-family: var(--header-font);
  font-weight: 700;
  color: var(--header-color);
  line-height: 1;

  text-shadow: 10px 10px 10px var(--header-shadow);
}
h1 {
  font-size: 5rem;
  margin-top: 0;
  margin-bottom: 2.5rem;

  @media (--sl-breakpoint-xs) {
    font-size: 4rem;
  }
  @media (--sl-breakpoint-sm) {
    font-size: 4rem;
  }
  @media (--sl-breakpoint-md) {
    font-size: 4.5rem;
  }
}
h2 {
  font-size: 3.75rem;
  margin-top: 0;
  margin-bottom: 2.5rem;
}
h3 {
  font-size: 3rem;
}
h4 {
  font-size: 2rem;
}

p, h3, h4, h5, h6, ul, ol, blockquote {
  margin: 0 0 1.5rem;
}

a {
  color: inherit;
  font-weight: 500;
  text-decoration-color: var(--primary-faded-color);
  text-decoration-thickness: 2px;
  text-underline-offset: 0.3em;
  transition: text-underline-offset 0.2s;
  &:hover {
    text-decoration-style: dashed;
    text-decoration-skip: none;
    text-underline-offset: 0.5em;
    text-shadow: 0px 1px 3px var(--primary-transparent-color);
  }
}

mark {
  box-decoration-break: clone;
  text-shadow: 0px 0px 2px rgba(var(--body-color-rgb), 0.15);
  padding: 5px 10px;
  border-radius: 8px 8px 10px 5px;
  color: unset;
  display: inline;
  background: linear-gradient(120deg, #ffffb411, #ffffb488, #ffffb477, #ffffb488, #ffffb466, #ffffb411);
  margin-left: -10px;
  margin-right: -10px;
  box-shadow: 0px 0px 3px #ffffb455;
}
section.invert mark {
  text-shadow: 0px 0px 2px rgba(255, 255, 255, 0.2);
  background: linear-gradient(120deg, #ffffb411, #ffffb455, #ffffb444, #ffffb455, #ffffb444, #ffffb411);
}

@import "blocks";
