sl-button[size="large"]::part(base) {
  box-shadow: 10px 22px 20px -8px var(--heading-shadow); /* rgba(0,0,0,0.2); */
}

sl-dialog::part(title), sl-dialog::part(body) {
  --sl-spacing-large: 0.75rem 1.25rem;
}

sl-dialog::part(title) {
  font-family: var(--heading-font);
  font-weight: 700;
  color: var(--alternate-dark-color);
  --sl-font-size-large: 2rem;
}

sl-input[size="medium"], sl-textarea[size="medium"] {
  --sl-input-font-size-medium: var(--sl-font-size-small);

  @media (--sl-breakpoint-xs) {
    /* ensure no weird zoom on mobile focus */
    --sl-input-font-size-medium: 16px;
  }
}

p a sl-icon {
  margin-right: var(--sl-spacing-xx-small);
  margin-left: var(--sl-spacing-xxx-small);
  vertical-align: -0.125em;
}
