sl-button[size="large"]::part(base) {
  box-shadow: 10px 22px 20px -8px var(--heading-shadow);
}

sl-dialog {
  --body-spacing: 0.75rem 1.25rem;
}

sl-dialog::part(title) {
  --header-spacing: 0.75rem 0 0.75rem 1.25rem;
  --sl-font-size-large: 2rem;
  font-family: var(--heading-font);
  font-weight: 700;
  color: var(--alternate-dark-color);
}

@media (max-width: 450px) {
  sl-dialog::part(close-button) {
    --header-spacing: 0.5rem;
  }

  sl-dialog::part(panel) {
    max-width: 96%;
  }
}

sl-input[size="medium"], sl-textarea[size="medium"] {
  --sl-input-font-size-medium: var(--sl-font-size-small);

  @media (--sl-breakpoint-xs) {
    /* ensure no weird zoom on mobile focus */
    --sl-input-font-size-medium: 16px;
  }
}

p a sl-icon {
  margin-right: var(--sl-spacing-2x-small);
  margin-left: var(--sl-spacing-3x-small);
  vertical-align: -0.125em;
}
