<footer>
  <footer-inner>

    <figure style="margin-bottom: var(--sl-spacing-3x-large); opacity: 0.1">
      <a href="#top">
        <img alt="Whitefusion" src="/images/whitefusion-w-transparent.png" width="120" loading="lazy" />
      </a>
    </figure>

    <p><strong>All things are permissible.<br/>But not everything is beneficial.</strong></p>

    <p>The trick is to know the difference.</p>

    <p>Ping us at <a href="mailto:{{ metadata.email }}"><sl-icon name="envelope"></sl-icon>{{ metadata.email }}</a> <br/>to start something foolish.</p>

    <p>Or tweet us on <a href="https://twitter.com/_whitefusion" target="_blank"><sl-icon name="twitter"></sl-icon>Twitter</a>.</p>
    
    <nav aria-label="Repeated site navigation">
      <small><a href="/">Home</a> ✦ <a href="/resources/">Resources</a> ✦ <a href="/tech/">Tech Specs</a> ✦ <a href="/methodology/">Methodology</a></small>
    </nav>
  </footer-inner>
</footer>

<sl-dialog id="contact-modal" label="Chat It Up">
  <step-one>
    <p>Fill in your email address, add a Tweet-length project summary, and then we’ll quickly follow-up to schedule a free 30-minute consultation. <strong>Sound good?</strong></p>

    <form action="/contact-form" method="post">
      <p>
        <sl-input required type="email" name="email" label="Email Address"></sl-input>
      </p>

      <p>
        <sl-textarea name="message" required rows="2" label="Project Summary"></sl-textarea>
      </p>

      <p>
        <sl-input required type="text" name="bot_check" label="Bot Check" help-text="What is three plus ten minus two?"></sl-input>
      </p>

      <p style="text-align:center">
        <sl-button variant="success" type="submit" pill>
          <sl-icon slot="suffix" name="envelope" style="top:-1px;left:-2px"></sl-icon>
          Booyeah!
        </sl-button>
      </p>
    </form>
  </step-one>
  <step-two hidden>
    <p>Awesome sauce! We’ll respond to your email shortly.</p>

    <p>In the meantime, you can <strong>follow us on <a href="https://twitter.com/_whitefusion" target="_blank"><sl-icon name="twitter"></sl-icon>Twitter</a></strong>, or go bake a lasagna. (Not sure what that has to do with anything. I just like lasagna. 😄)</p>

    <p style="text-align:center">
      <sl-button variant="primary" pill onclick='
        const dialog = this.closest("sl-dialog")
        setTimeout(() => {
          dialog.querySelectorAll("step-one, step-two").forEach(el => el.hidden = !el.hidden)
        }, 500);
        dialog.querySelector("form").reset()
        dialog.hide()
        dialog.querySelector("#contact-modal sl-input[name=bot_check]").helpText = "What is three plus ten minus two?"
      '>
        <sl-icon slot="suffix" name="x" style="top:-1px;left:-2px"></sl-icon>
        Close
      </sl-button>
    </p>
  </step-two>
</sl-dialog>
