<footer>
  <footer-inner>

    <figure style="margin-bottom: var(--sl-spacing-3x-large); opacity: 0.1">
      <a href="#top">
        <img alt="Whitefusion" src="/images/whitefusion-w-transparent.png" width="120" loading="lazy" />
      </a>
    </figure>

    <p><strong>All things are permissible.<br/>But not everything is beneficial.</strong></p>

    <p>The trick is to know the difference.</p>

    <p>Ping us at <a href="mailto:{{ metadata.email }}"><sl-icon name="envelope"></sl-icon>{{ metadata.email }}</a> <br/>to start something foolish.</p>

    <p>Or reach out on <a href="https://intuitivefuture.com/@whitefusion" target="_blank"><sl-icon name="mastodon"></sl-icon>Mastodon</a>.</p>
    
    <nav aria-label="Repeated site navigation">
      <small><a href="/">Home</a> ✦ <a href="/resources/">Resources</a> ✦ <a href="/tech/">Tech Specs</a> ✦ <a href="/methodology/">Methodology</a></small>
    </nav>
  </footer-inner>
</footer>
