<nav aria-label="Main navigation">
  <navbar-inner id="nav-bar" data-turbo-permanent>
    <wf-bar align-items="center" spaced="between" expanded="false">
      <wf-bar-item branding style="flex-grow: 1">
        <a href="/">
          <img alt="Whitefusion" title="Whitefusion" src="{% datauri whitefusion-thumb.png %}" width="60" style="margin-top:4px" />
        </a>
      </wf-bar-item>
      <wf-bar-item mobileonly>
        <sl-button menutoggle variant="text">
           <sl-icon slot="suffix" name="list"></sl-icon>
           Menu
        </sl-button>
      </wf-bar-item>
      <wf-bar-item expandable>
        <a href="/tech">Tech Specs</a>
      </wf-bar-item>
      <wf-bar-item expandable>
        <a href="/methodology">Methodology</a>
      </wf-bar-item>
      <wf-bar-item expandable>
        <a href="/resources">Resources</a>
      </wf-bar-item>
      <wf-bar-item expandable>
        <a href="/book">Book Us</a>
      </wf-bar-item>
      <wf-bar-item>
        <a href="/account/profile" style="font-size: 115%">
          <sl-icon name="person-fill" label="Your Account" style="vertical-align: -.15em"></sl-icon>
        </a>
      </wf-bar-item>
    </wf-bar>
  </navbar-inner>
</nav>
