<nav aria-label="Main navigation">
  <navbar-inner id="nav-bar" data-turbo-permanent>
    <sl-bar align-items="center" spaced="between" expanded="false">
      <sl-bar-item branding size="6/10 xs:2/10 sm:3/10 md:4/10 lg:5/10">
        <a href="/">
          <img alt="Whitefusion" src="{% datauri whitefusion-thumb.png %}" width="60" style="margin-top:4px" />
        </a>
      </sl-bar-item>
      <sl-bar-item mobileonly>
        <sl-button menutoggle type="text">
           <sl-icon slot="suffix" name="list"></sl-icon>
           Menu
        </sl-button>
      </sl-bar-item>
      <sl-bar-item expandable>
        <a href="/resources">Resources</a>
      </sl-bar-item>
      <sl-bar-item expandable>
        <a href="/tech">Tech Specs</a>
      </sl-bar-item>
      <sl-bar-item expandable>
        <a href="/methodology">Methodology</a>
      </sl-bar-item>
    </sl-bar>
  </navbar-inner>
</nav>
